body{
	background: blue;
	/*background: rgb(155,155,155);*/
	/*background: rgba(255,0,0,1);*/
	/*background: #A9CCFF;*/
	color: white;
}
header{
	border: 1px solid black;
	text-align: center;
}
header nav ul li
{
	background: orange;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	width: 90px;
}
header nav ul li:hover
{
	background: black;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	width: 90px;
}















